language: python
python:
  - "2.7"
  - "3.8"
cache: pip
services:
  - docker

install:
  - pip install -U pip
  - pip --version
  - pip install tox tox-ansible
  - mkdir -p ~/.ssh  # Needed by authorized_key
  - touch ~/.ssh/id_rsa.pub

before_script:
  # Update submodules - like this one to get the latest
  - git submodule update --remote --recursive
  - cd ..
  # ansible collections need to be in an ansible_colection path
  - mkdir -p "ansible_collections/${COLLECTION_NAMESPACE}"
  - mv "$(basename "${TRAVIS_REPO_SLUG}")" "ansible_collections/${COLLECTION_NAMESPACE}/${COLLECTION_NAME}"
  - cd "ansible_collections/${COLLECTION_NAMESPACE}/${COLLECTION_NAME}"

script:
  - tox
    #
# Notifications are for galaxy roles - I don't know that they're yet
# a thing for collections
#notifications:
  #webhooks: https://galaxy.ansible.com/api/v1/notifications/

env:
  global:
    - COLLECTION_NAMESPACE=devroles
    - COLLECTION_NAME=system
    - TOX_ANSIBLE_DRIVER=docker
  jobs:
    - TOX_ANSIBLE_ROLE=sudoers
    - TOX_ANSIBLE_ROLE=authorized_key
    - TOX_ANSIBLE_ROLE=disable_deltarpm
    - TOX_ANSIBLE_ROLE=python_prep
